body{
    font-family: 'Noto Sans KR', sans-serif;
}
.inner{
  width:100%;
  max-width:1310px;
  margin:0 auto;  
  padding:0 15px;
}
@media screen and (min-width:1024px){
.d-none{
  display:none;
}   
}
@media screen and (max-width:1024px){
  .d-only{
    display:none;
   
  }

 
}

@media screen and (min-width:640px){
  .m-only{
    display:block;
  }
}