body{
    font-family: 'Noto Sans KR', sans-serif;
 
}
.inner{
  width:100%;
  max-width:1310px;
  margin:0 auto;  
  padding:0 15px;
}
@media (min-width:1025px){
  .d-none{
   display:none;
  }   
}
@media (max-width:1024px){
  .d-only{
    display:none;
   
  }

}

@media (min-width:461px){
  .m-only{
    display:block;
  }

}
@media (max-width:1024px) and (min-width:461px){
  .t-none{
    display:none;
  }
}